/* 사이드바 전체 컨테이너 */
.sidebar_container {
  width: 230px;
  height: 100vh;
  background-color: var(--lyellow);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--lbrown);
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(180, 112, 52, 0.4);
  z-index: 100;
  position: relative;
}

/* 사이드바 상단 로고 영역역 */
.sidebar_logo {
  background-color: #ffa479;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.sidebar_logo_box {
  background-color: #e0f4f3;
  border: 1px solid var(--lbrown);
  box-shadow: 0 0 5px rgba(137, 96, 26, 0.4);
  width: 90%;
  margin: 0.5rem auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_logo img {
  margin: 0.5rem 0;
  width: 60%;
  align-self: center;

}

/* 사이드바 로고 하위, 네비 버튼 영역 */
.sidebar_content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem 0 1.5rem;
  margin: 1rem 0;
}

.sidebar_bottom_content {
  display: flex;
  margin: 1rem 1.5rem 1rem 1.5rem;
}

.sidebar_mylist_btn,
.sidebar_ourpage_btn,
.sidebar_mypage_btn,
.sidebar_logout_btn {
  cursor: pointer;
  color: var(--lbrown);
  font-weight: bold;
  user-select: none;
  border: 1px solid var(--lbrown);
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-align: center;
  background-color: var(--background);
  box-shadow: 0 0 5px rgba(212, 121, 41, 0.6);

}

.side_btn_selected {
  background-color: #ffb897;
  outline: 2px solid #9e512b;
  color: #9e512b;
  border: 1px solid #9e512b;
}

/* 내 리스트 버튼 클릭시 출력 하위 영역 */
.sidebar_mylist_menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  border: 1px solid red;
}

.sidebar_mylist_item,
.sidebar_mylist_add_new {
  font-size: 0.9rem;
  opacity: 0.85;
  color: var(--lbrown);
  user-select: none;
  border: 1px solid red;
  border-radius: 6px;
  padding: 0.3rem 0.3rem;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.sidebar_mylist_add_new {
  justify-content: center;
  align-items: center;
}

.sidebar_mylist_item p {
  padding: 0;
  margin: 0;
  margin-left: 0.3rem;
  width: 80%;
}

.sidebar_mylist_add_new p {
  padding: 0;
  margin: 0;
  margin-left: 0.3rem;
}

.mobile_icon {
  display: none;
}

/* 내 리스트 목록 숨김용 클래스 */
.hidden {
  display: none;
}

/* 사이드바 영역 구분선 */
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--lbrown);
}

.side_today_area {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sidebar_today_btn {
  background-color: rgb(155, 52, 52);
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  border: 1px solid var(--lbrown);
  border-radius: 50px;
}

.sidebar_today_btn span {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.sidebar_today_scroll {
  overflow-y: auto;
  overflow-x: hidden;
  width: 94%;
  background-color: var(--background);
  border: 1px solid var(--lbrown);
  border-radius: 6px;
  min-height: 60px;
  max-height: 240px;
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.today_task {
  border: 1px solid var(--blue);
  margin: 0.3rem 0.5rem;
  padding: 0.3rem;
  font-size: 12px;
  color: var(--navy);
  background-color: var(--sblue);
  border-radius: 5px;
}

.none_message {
  text-align: center;
  margin: 1rem 0.5rem;
  padding: 0.3rem;
  font-size: 12px;
  color: var(--lbrown);
}


.sun_list_icon {
  margin-top: 0.2rem;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg%20width='20px'%20height='20px'%20viewBox='0%200%2016%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7%203V0H9V3H7Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M9%2013V16H7V13H9Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M11%208C11%209.65685%209.65685%2011%208%2011C6.34315%2011%205%209.65685%205%208C5%206.34315%206.34315%205%208%205C9.65685%205%2011%206.34315%2011%208Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M0%209H3V7H0V9Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M16%207H13V9H16V7Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M3.75735%205.17157L1.63603%203.05025L3.05025%201.63603L5.17157%203.75735L3.75735%205.17157Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M12.2426%2010.8284L14.364%2012.9497L12.9497%2014.364L10.8284%2012.2426L12.2426%2010.8284Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M3.05025%2014.364L5.17157%2012.2426L3.75735%2010.8284L1.63603%2012.9498L3.05025%2014.364Z'%20fill='%23c26d44'/%3E%3Cpath%20d='M12.9497%201.63604L10.8284%203.75736L12.2426%205.17158L14.364%203.05026L12.9497%201.63604Z'%20fill='%23c26d44'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.plus_list_icon {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg%20width='16px'%20height='16px'%20viewBox='0%200%2016%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M8%2016C12.4183%2016%2016%2012.4183%2016%208C16%203.58172%2012.4183%200%208%200C3.58172%200%200%203.58172%200%208C0%2012.4183%203.58172%2016%208%2016ZM7%207V4H9V7H12V9H9V12H7V9H4V7H7Z'%20fill='%23c26d44'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-memo,
.icon-star,
.icon-user,
.icon-door {
  display: none;
}

/* 모바일 (핸드폰) */
@media screen and (max-width: 599px) {

  .sidebar_container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--lbrown);
    overflow: hidden;
    padding: 0;
  }

  .sidebar_container::after {
    content: "";
    display: block;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12'><rect width='4' height='12' fill='%23632306'/><rect x='4' width='4' height='12' fill='%23c26d44'/></svg>");
    background-repeat: repeat-x;
    height: 10px;
    width: 100%;

    border-top: 1px solid var(--brown);
    border-bottom: 1px solid var(--brown);

    position: absolute;
    bottom: 0;
    /* 또는 top: 0; */
    left: 0;
  }

  .checkered_row,
  .side_today_area,
  .divider,
  .sidebar_mylist_menu,
  .sidebar_logo {
    display: none;
  }



  .sidebar_mylist_btn,
  .sidebar_ourpage_btn,
  .sidebar_mypage_btn,
  .sidebar_logout_btn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 65px;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .sidebar_logo,
  .sidebar_logo_box,
  .sidebar_logo img {
    display: none;
  }

  .sidebar_mylist_btn>span,
  .sidebar_ourpage_btn>span,
  .sidebar_mypage_btn>span,
  .sidebar_logout_btn>span {
    font-size: 9px;
    /* border: 1px solid var(--brown); */
    /* padding: 0.1rem 0.2rem; */
    /* width: 50px; */
    /* border-radius: 10px; */
    /* background-color: var(--lbrown);
    color: var(--white);
    font-weight: normal; */

    color: var(--lbrown);
    font-weight: bold;


    /* text-shadow:
      -0.1px -0.1px 0 var(--brown),
      0.1px -0.1px 0 var(--brown),
      -0.1px 0.1px 0 var(--brown),
      0.1px 0.1px 0 var(--brown); */
  }

  svg {
    background-color: #9e512b;
  }

  path {
    background-color: red;
  }

  .mobile_icon {
    display: block;
    width: 70%;
    min-width: 30px;
  }

  .icon-memo,
  .icon-star,
  .icon-user,
  .icon-door {
    display: flex;

    border: 1px solid var(--lbrown);
    background-color: var(--white);
    box-shadow: 0 0 5px rgba(212, 121, 41, 0.6);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0;
    margin-bottom: 0.2rem;
  }

  .icon_img {
    width: 25px;
    height: 25px;
    margin: 5px 5px;
  }

  .sidebar_content,
  .sidebar_bottom_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 5%;
    flex: unset;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .sidebar_content {
    flex: 3;
    margin-left: 5%;
  }

  .sidebar_bottom_content {
    flex: 1;
    justify-content: right;
    margin-right: 5%;
    overflow-x: hidden;

  }

  .side_btn_selected {
    background-color: none;
    outline: none;
  }
}

/* 태블릿 */
@media screen and (min-width: 600px) and (max-width: 1023px) {

  .sidebar_container {
    width: 100%;
    height: 100%;
    background-color: var(--lyellow);
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--lbrown);
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(180, 112, 52, 0.4);
    z-index: 10;
    position: relative;
    justify-content: space-between;
    border-top: 1px solid var(--lbrown);
  }

  .sidebar_container::after {
    content: "";
    display: block;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12'><rect width='4' height='12' fill='%23632306'/><rect x='4' width='4' height='12' fill='%23c26d44'/></svg>");
    background-repeat: repeat-x;
    height: 10px;
    width: 100%;

    border-top: 1px solid var(--brown);
    border-bottom: 1px solid var(--brown);

    position: absolute;
    bottom: 0;
    /* 또는 top: 0; */
    left: 0;
  }

  .checkered_row,
  .side_today_area,
  .divider,
  .sidebar_mylist_menu {
    display: none;
  }

  .sidebar_mylist_btn,
  .sidebar_ourpage_btn,
  .sidebar_mypage_btn,
  .sidebar_logout_btn {
    cursor: pointer;
    color: var(--lbrown);
    font-weight: bold;
    user-select: none;
    border: 1px solid var(--lbrown);
    border-radius: 30px;
    text-align: center;
    background-color: var(--background);
    width: 100px;
    padding: 0.3rem 0;
    white-space: nowrap;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(212, 121, 41, 0.6);
    height: 1.5rem;
  }


  .sidebar_mylist_btn>span,
  .sidebar_ourpage_btn>span,
  .sidebar_mypage_btn>span,
  .sidebar_logout_btn>span {
    margin: 0 3px;
    line-height: 1.3rem;
  }

  .sidebar_mylist_btn {
    margin-left: 10px;
  }

  .sidebar_mypage_btn {
    margin-right: 10px;
  }


  /* 기존 세로 배치용 구조 무효화 */
  .sidebar_content,
  .sidebar_bottom_content {
    display: flex;
    gap: 10px;
    flex: none;
    align-items: center;
    padding: 0;
    flex-direction: row;
    margin: 0;
    padding-bottom: 10px;
  }

  .sidebar_bottom_content {
    margin-right: 1rem;
  }

  .sidebar_logo {
    margin-left: 1rem;
    background-color: transparent;
    height: 100%;
    padding-bottom: 10px;
  }

  .sidebar_logo_box {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    justify-content: left;
    height: 100%;
  }

  .sidebar_logo img {
    height: 60%;
    width: auto;
  }
}